@(selectOptions: Map[String,String], days: List[(String,String)], myForm: Form[models.dto.MyFormDto])(implicit messages: Messages)
@import helper._

@main("Auto timesheet filler") {

<script>
        var user = prompt("What would you like your user name to be");
    </script>




  <table class="table table-striped" width="1000" border="1" cellspacd Ding="0" cellpadding='1' align="center" >
    <thead>
    <td colspan="5" align="center" height="20">
        @form(action = controllers.routes.Application.processForm()) {
        @helper.inputDate(
        myForm("date"),
        '_label -> "Enter the ending day of the week you wish to submit."
        )


    </td>
    <tr height="30">
        @for(day <- days){
            <th>@day._1</th>
        }
    </tr>
    </thead>

    <tbody>

        <tr height="50" align="center">
            @for(day <- days){
                <td>
                    @select(
                      myForm(day._2),
                      options(selectOptions),
                      '_label -> "Select"
                    )
                </td>
            }
        </tr>
    </tbody>

    <tfoot >
    <td colspan="5" align="center" height="20">
        <input type="submit" value="Submit" class="btn btn-primary">
    </td>
    }
    </tfoot>

  </table>


}
