@(selectOptions: Map[String,String], days: List[(String,String)], myForm: Form[models.dto.MyFormDto])(implicit messages: Messages)
@import helper._

@main("Auto timesheet filler") {


  <table width="1000" border="1" cellspacing="0" cellpadding='1' align="center">
    <thead>
    <td colspan="5" align="center" height="20">Week Ending: 26/11/2015</td>
    <tr height="30">
        @for(day <- days){
            <th>@day._1</th>
        }
    </tr>
    </thead>

    <tbody>
    @form(action = controllers.routes.Application.processForm()) {
        <tr height="50" align="center">
            @for(day <- days){
                <td>
                    @select(
                      myForm(day._2),
                      options(selectOptions),
                      '_label -> "Select"
                    )
                </td>
            }
        </tr>

    </tbody>

    <tfoot >
    <td colspan="5" align="center" height="20">
        <input type="submit" value="Submit" class="btn btn-primary">
    </td>
    }
    </tfoot>

  </table>


}
